@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(237, 237, 237);
    height: 100vh;
}

header section {
    padding: 0 100px;
}

section h2 {
    text-align: right;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px;
}

.menu-drop {
    position: absolute;
    top: 100px;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 80vh;
    display: none;
    flex-direction: column;
}

.menu-drop a {
    text-align: center;
    font-size: 2em;
    padding: 29px 0;
    color: black;
}

.menu-drop a:hover {
    background-color: rgb(255, 136, 0);
    color: white;
}

.logo {
    color: rgb(255, 136, 0);
    font-size: 20px;
}

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.nav-links a {
    color: black;
}

.nav-links a:hover {
    color: rgb(255, 136, 0);
}

.dark-mode {
    width: 20px;
    height: 20px;
}

.side-menu {
    width: 40px;
    padding: 5px;
    background-color: rgb(255, 136, 0);
    display: none;
}

.main-heading {
    font-size: 4.5em;
    color: black;
}

.orange-text {
    color: rgb(255, 136, 0);
}

.discuss-project {
    border: none;
    color: black;
    background-color: rgb(255, 136, 0);
    padding: 15px 40px;
    margin: 1em 0;
    cursor: pointer;
}

.discuss-project:hover {
    background-color: rgb(255, 151, 33);
}

@media screen and (max-width: 600px) {
    .nav-links {
        display: none;
    }

    .side-menu {
        display: block;
    }

    nav {
        padding: 40px, 10px;
    }

    .main-heading {
        font-size: 3.5em;
    }
}